$space: 16px;
$borderRadius: 4px;
body {
    background-color:#383838;
    // No highlight
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}